In [26]:
import os
import sys

import pandas as pd


import sys
reload(sys)
sys.setdefaultencoding("utf-8")

In [2]:
brands = pd.read_csv('/root/dedupe-examples/csv_example/brands.tsv', sep='\t')
brands.head(10)

          p_brand     pc_cat_name parent_pc_cat_name  count_occurence
0          geeken   chairs-office          furniture              181
1         stellar   chairs-office          furniture              136
2          godrej   chairs-office          furniture               92
3  godrej interio   chairs-office          furniture               88
4        nilkamal   chairs-office          furniture               83
5            hans   chairs-office          furniture               76
6     vj interior   chairs-office          furniture               61
7         supreme   chairs-office          furniture               60
8          veeton   chairs-office          furniture               56
9             efc   chairs-office          furniture               52

In [3]:
grouped_brand = brands.groupby(['p_brand', 'pc_cat_name'])

In [4]:
grouped_brand_max = grouped_brand.agg({'count_occurence':'max'}).reset_index()

In [5]:
brand_max = grouped_brand_max.groupby(['p_brand']).first() \
.reset_index()\
.sort_values(by=['count_occurence'], ascending=0)

In [6]:
brand_max.to_csv('/root/dedupe-examples/csv_example/gem_500.tsv',sep='\t', index=False)

In [7]:
brand_max.head()

                      p_brand             pc_cat_name  count_occurence
42597                  voltas         Air Conditioner              828
24971                  lenovo              All in one              474
20341  hp original cartriadge  printer ink cartridges              411
20342   hp original cartridge  printer ink cartridges              368
11306                    dell              All in one              363

In [8]:
brand_dedup = pd.read_csv('/root/dedupe-examples/csv_example/gem_output.csv')
brand_dedup.head(5)

,Cluster ID,confidence_score,p_brand,pc_cat_name,count_occurence,canonical_count_occurence,canonical_pc_cat_name,canonical_p_brand
0,0,0.576558,voltas,Air Conditioner,828,10.0,air conditioner,voltas
1,1,0.564770,lenovo,All in one,474,15.0,desktops,lenovo
2,2,0.025881,hp original cartriadge,printer ink cartridges,411,104.0,printer ink cartridges,hp
3,2,0.028977,hp original cartridge,printer ink cartridges,368,104.0,printer ink cartridges,hp
4,92,0.535665,dell,All in one,363,11.0,desktops,dell

In [9]:
len(brand_dedup['Cluster ID'].unique())

15449

In [10]:
len(brand_dedup)

44143

In [88]:
b = brands
b['all_categories'] = b['pc_cat_name']

In [89]:
z = b.groupby(['p_brand'])['all_categories'].apply(lambda x:" | ".join(x)).reset_index()

In [90]:
z.head()

                                           p_brand            all_categories
0               &#x28;colin&#x29;&#x28;500ml&#x29;  glass or window cleaners
1                               &#x28;dettol&#x29;           liquid handwash
2               &#x28;gainda&#x29;&#x28;5ltr&#x29;                    phenyl
3  &#x28;hp-kay pee enterprises &#x28;hp rsr&#x29;    printer ink cartridges
4                                     &#x28;natraj             Wooden Pencil

In [91]:
brand_other_cat = z

In [92]:
result = pd.merge(brand_dedup, brand_other_cat, on=['p_brand'])

In [93]:
len(result)

44143

In [94]:
result.head(3)

,Cluster ID,confidence_score,p_brand,pc_cat_name,count_occurence,canonical_count_occurence,canonical_pc_cat_name,canonical_p_brand,all_categories
0,0,0.576558,voltas,Air Conditioner,828,10.0,air conditioner,voltas,Air Conditioner | automatic line voltage corre...
1,1,0.564770,lenovo,All in one,474,15.0,desktops,lenovo,All in one | bag kit universal | bar code read...
2,2,0.025881,hp original cartriadge,printer ink cartridges,411,104.0,printer ink cartridges,hp,printer ink cartridges

In [95]:
result.sort_values(['Cluster ID']).to_csv('/root/dedupe-examples/csv_example/gem_output_merged.tsv',sep='\t', index=False)

In [112]:
# cwd = '/root/dedupe-examples/csv_example/'
# os.chdir(cwd)
# %run gem.py